$roboto: 'Roboto',
sans-serif;
$sans: 'PT Sans',
sans-serif;

// common css start
body {
    font-size: 18px;
    font-family: $roboto;
}

.title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

.title2 {
    font-size: 36px;
    font-weight: 300;
}

.cusBtn {
    border-radius: 30px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    padding: 22px 70px;
    transition: .4s;

}

// common css end

// header start
header {
    padding: 25px 0;
    border-bottom: 1px solid #e4e6ea;

    nav {
        ul {
            li {
                margin-left: 25px;

                a {
                    padding: 10px 16px !important;
                    border-radius: 22px;
                    border: 1px solid transparent;
                    font-size: 20px;

                    &:hover {
                        border: 1px solid #9fabba;
                    }

                }
            }
        }
    }
}

// header end

// <!-- banner start -->
.banner {
    padding-top: 120px;
    padding-bottom: 30px;
    // background: url(../images/banner-bd.png);
    // background-attachment: inherit;
    // background-size: contain;
    // background-repeat: repeat-x;
    background-image: linear-gradient(0deg, #edeff1 1%, #ffffff 24%, #e1e3e8 31%, #ffffff 100%);
    text-align: center;

    h1 {
        color: #0149a1;
        // margin-bottom: 24px;
    }

    h2 {
        color: #5d6981;
        margin-bottom: 108px;
    }

    button {
        background-color: #ff2d55;
        margin-bottom: 115px;


        &:hover {
            background-color: #0149a1;
        }
    }



    // <!-- services start -->
    .services {
        .service-content {
            margin-top: 100px;
            text-align: center;

            h3 {
                margin-top: 30px;
                margin-bottom: 14px;
                font-size: 30px;
                color: #5d6981;
                font-weight: 700;
            }

            p {
                // width: 90%;
                font-size: 18px;
                line-height: 30px;
                color: #7c8ca0;
                font-weight: 300;
            }
        }
    }

    // <!-- services end -->
}

// <!-- banner end -->


// <!-- creativity start -->
.creativity {
    padding: 173px 0;
    background: url(../images/creativity.jpg);
    // background-size: contain; 
    background-repeat: no-repeat;
    text-align: center;

    button {
        background-color: #0149a1;

        &:hover {
            background-color: #ff2d55;
        }
    }
}

// <!-- creativity end -->

// <!-- work start -->
.work {
    padding: 128px 0;
    background-color: #0149a1;

    .work-head {
        text-align: center;

        h1 {
            color: #fff;
        }

        h2 {
            color: #5483bb;
        }
    }

    .work-content {
        img {
            margin-top: 115px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 300;
            margin-bottom: 20px;

            &:first-of-type {
                margin-top: 115px;
            }
        }
    }

    .work-button {
        text-align: center;
        margin-top: 45px;


        button {
            color: #0149a1;
            background-color: #fff;

            &:hover{
                color: #fff;
                background-color: #ff2d55;
            }
        }
    }
}

// <!-- work end -->

// <!-- quote start -->
.quote {}

// <!-- quote end -->

// <!-- team start -->
.team {}

// <!-- team end -->


// <!-- map start -->
.map {}

// <!-- map end -->

// <!-- list start -->
.list {}

// <!-- list end -->


// footer start
footer {}

// footer end